<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<ResourceId>/subscriptions/e3164468-eec1-41aa-b58d-ce40d0621233/resourcegroups/WebApp/providers/Microsoft.Web/sites/data2410-api-v120260409134150</ResourceId>
		<ResourceGroup>WebApp</ResourceGroup>
		<ApiResourceId>/subscriptions/e3164468-eec1-41aa-b58d-ce40d0621233/resourceGroups/WebApp/providers/Microsoft.ApiManagement/service/data2410-api-v1api/apis/data2410-api-v1</ApiResourceId>
		<OpenApiDocumentName>v1</OpenApiDocumentName>
		<UpdateApiOnPublish>true</UpdateApiOnPublish>
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://data2410-api-v120260409134150-enauczfkapc9efat.norwayeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>46a34df0-38cd-08ee-0c4e-31306d455b2b</ProjectGuid>
		<MSDeployServiceURL>data2410-api-v120260409134150-enauczfkapc9efat.scm.norwayeast-01.azurewebsites.net:443</MSDeployServiceURL>
		<DeployIisAppPath>data2410-api-v120260409134150</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName />
		<_SavePWD>false</_SavePWD>
		<_DestinationType>AzureWebSite</_DestinationType>
		<InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
		<PublishSingleFile>false</PublishSingleFile>
		<SelfContained>true</SelfContained>
		<RuntimeIdentifier>win-x86</RuntimeIdentifier>
	</PropertyGroup>
</Project>